/client/8k_votes/Library
/client/8k_votes/Library/
/client/8k_votes/Temp
/client/8k_votes/Temp/
/client/8k_votes/Assets/NGUI/Examples*
/build/*

!*.asset
*.csproj
*.sln
Assembly*
.DS_Store
*.userprefs

*.pdf
*.ai
*.eps
*.mp3
**/libiPhone-lib.a